<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th ng-repeat="field in fields">{{field.name}}</th>
      <th>Earnings</th>
    </tr>
  </thead>
  <tbody id="results">
    <tr ng-repeat="entry in entries | orderBy: 'period' track by entry.period" 
        ng-class="{warning: entry.selected, info: entry.isPractice}">
      <td ng-repeat="field in fields" ng-class="{'text-right': field.isNumber}">
        <span ng-if="field.isNumber">{{entry[field.key] | number:2}}</span>
        <span ng-if="!field.isNumber">{{entry[field.key]}}</span>
      </td>
      <td style="text-align: right">{{payoutFunction(entry) | currency}}</td>
    </tr>
    <tr class="warning">
      <td><strong>Show Up Fee</strong></td>
      <td ng-repeat="i in tablePadding track by $index"></td>
      <td style="text-align: right"><strong>{{showUpFee | currency}}</strong></td>
    </tr>
    <tr class="success">
      <td><strong>Total</strong></td>
      <td ng-repeat="j in tablePadding track by $index"></td>
      <td style="text-align: right">
        <strong>{{totalEarnings | currency}}</strong>
      </td>
    </tr>
  </tbody>
</table>
